body{
	position: fixed;
	width: 100vw;
	height: 1000px;
	background-image: url(background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
}
.contact-form h2{
	margin: 0;
	padding: 0 0 20px;
	color: white;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
}